<h1>ᴀɴᴛᴇ ᴀʟɢᴜɴᴀ ᴅᴜᴅᴀ ᴇɴᴠɪᴀɴᴏꜱ ᴜɴ ᴍᴀɪʟ:</h1>

<body>
    <div class="container">
        <div class="form-container">
            <form action="https://formsubmit.co/mateogazzola7@gmail.com" method="POST">
                <h2>ɪɴɢʀᴇꜱᴇ ꜱᴜꜱ ꜱɪɢᴜɪᴇɴᴛᴇꜱ ᴅᴀᴛᴏꜱ</h2>
                <div class="col">
                    <label for="Nombre">ɴᴏᴍʙʀᴇ ᴅᴇ ᴜꜱᴜᴀʀɪᴏ:</label>
                    <input type="text" name="name" class="form-control" placeholder="Nombre de usuario" required>
                </div>

                <div class="col">
                    <label for="email">ᴄᴏʀʀᴇᴏ ᴇʟᴇᴄᴛʀᴏɴɪᴄᴏ:</label>
                    <input type="email" name="email" class="form-control" placeholder="Correo Electronico" required>
                </div>

                <div class="col1">
                    <label for="subject">ᴀꜱᴜɴᴛᴏ:</label>
                    <input type="text" name="asunto" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="comments">ᴄᴏᴍᴇɴᴛᴀʀɪᴏ:</label>
                    <textarea name="comments" cols="30" rows="5" placeholder="Ingrese su comentario aquí..."></textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-lg btn-dark btn-block">Enviar Correo</button>
            </form>
        </div>

        <div class="faq-container">
            <h2>ᴘʀᴇɢᴜɴᴛᴀꜱ ꜰʀᴇᴄᴜᴇɴᴛᴇꜱ</h2>
            <div class="faq-item">
                <strong>¿Cᴏᴍᴏ ᴘᴜᴇᴅᴏ ʀᴇᴄᴜᴘᴇʀᴀʀ ᴍɪ ᴄᴏɴᴛʀᴀꜱᴇñᴀ?</strong>
                <p>ᴘᴀʀᴀ ʀᴇᴄᴜᴘᴇʀᴀʀ ꜱᴜ ᴄᴏɴᴛʀᴀꜱᴇñᴀ ᴇɴᴠɪᴇɴᴏꜱ ᴜɴ ᴍᴀɪʟ ᴄᴏɴ ᴇʟ ᴀꜱᴜɴᴛᴏ "ᴏʟᴠɪᴅᴇ ᴍɪ ᴄᴏɴᴛʀᴀꜱᴇñᴀ" ᴊᴜɴᴛᴏ ᴀ ʟᴏꜱ ᴅᴀᴛᴏꜱ ᴅᴇ ʟᴀ ᴄᴜᴇɴᴛᴀ , ᴄᴏɴ ᴇʟ ꜰɪɴ ᴅᴇ ᴠᴇʀɪꜰɪᴄᴀʀ qᴜᴇ ꜱᴇᴀ ᴜꜱᴛᴇᴅ ʏ ᴀꜱɪ ʀᴇꜱᴘᴏɴᴅᴇʀʟᴇ ᴄᴏɴ ᴜɴ ᴄᴏʀʀᴇᴏ ᴘᴀʀᴀ ʀᴇꜱᴛᴀʙʟᴇᴄᴇʀ ꜱᴜ ᴄᴏɴᴛʀᴀꜱᴇñᴀ.</p>
            </div>
            <div class="faq-item">
                <strong>¿Cᴏᴍᴏ ᴘᴜᴇᴅᴏ ᴄᴏɴᴛᴀᴄᴛᴀʀʟᴏꜱ?</strong>
                <p>ᴘᴀʀᴀ ᴄᴏɴᴛᴀᴄᴛᴀʀɴᴏꜱ ᴇꜱ ꜱɪᴍᴘʟᴇ, ᴇɴᴠɪᴀɴᴏꜱ ᴜɴ ᴍᴀɪʟ ᴏ ʙᴜꜱᴄᴀɴᴏꜱ ᴇɴ ɴᴜᴇꜱᴛʀᴀꜱ ʀᴇᴅᴇꜱ ꜱᴏᴄɪᴀʟᴇꜱ, ʟᴀꜱ ᴄᴜᴀʟᴇꜱ ᴀᴘᴀʀᴇᴄᴇɴ ᴇɴ ᴇʟ ᴘɪᴇ ᴅᴇ ɴᴜᴇꜱᴛʀᴀ ᴘᴀɢɪɴᴀ</p>
            </div>
            <div class="faq-item">
                <strong>¿Qᴜᴇ ᴍᴇᴛᴏᴅᴏꜱ ᴅᴇ ᴘᴀɢᴏ ᴀᴄᴇᴘᴛᴀɴ?</strong>
                <p>ᴀᴄᴇᴘᴛᴀᴍᴏꜱ ᴠᴀʀɪᴀꜱ ꜰᴏʀᴍᴀꜱ ᴅᴇ ᴘᴀɢᴏ, ɪɴᴄʟᴜʏᴇɴᴅᴏ ᴛᴀʀᴊᴇᴛᴀꜱ ᴅᴇ ᴄʀᴇᴅɪᴛᴏ, ᴅᴇʙɪᴛᴏ, ᴘᴀʏᴘᴀʟ, ᴍᴇʀᴄᴀᴅᴏᴘᴀɢᴏ, ᴜᴀʟᴀ ʏ ᴛʀᴀɴꜱꜰᴇʀᴇɴᴄɪᴀꜱ ʙᴀɴᴄᴀʀɪᴀꜱ.</p>
            </div>
            <div class="faq-item">
                <strong>¿Hᴀʏ ʀᴇᴇᴍʙᴏʟꜱᴏꜱ?</strong>
                <p>ꜱɪ. ᴇɴ ᴄᴀꜱᴏ ᴅᴇ qᴜᴇʀᴇʀ ᴜɴ ʀᴇᴇᴍʙᴏʟꜱᴏ ᴇɴᴠɪᴀɴᴏꜱ ᴜɴ ᴍᴀɪʟ, ᴄᴏɴ ᴇʟ ᴀꜱᴜɴᴛᴏ "ᴅᴇꜱᴇᴏ ᴜɴ ʀᴇᴇᴍʙᴏʟꜱᴏ" ʏ ʙʀɪɴᴅᴇɴᴏꜱ ʟᴏꜱ ᴍᴏᴛɪᴠᴏꜱ ᴘᴏʀ ʟᴏꜱ ᴄᴜᴀʟᴇꜱ ᴅᴇꜱᴇᴀ ᴅᴇᴠᴏʟᴠᴇʀ ꜱᴜ ᴘʀᴏᴅᴜᴄᴛᴏ.</p>
            </div>
            <br>
        </div>
    </div>
</body>
