<h1>ᴀɴᴛᴇ ᴀʟɢᴜɴᴀ ᴅᴜᴅᴀ ᴇɴᴠɪᴀɴᴏꜱ ᴜɴ ᴍᴀɪʟ:</h1>
<body>
    <div class="container">
        <form action="https://formsubmit.co/mateogazzola7@gmail.com" method="POST">
            <div class="col">
                <label for="Nombre">ɴᴏᴍʙʀᴇ ᴅᴇ ᴜꜱᴜᴀʀɪᴏ:</label>
                <input type="text" name="name" class="form-control" placeholder="Nombre de usuario" required>
            </div>

            <div class="col">
                <label for="email">ᴄᴏʀʀᴇᴏ ᴇʟᴇᴄᴛʀᴏɴɪᴄᴏ:</label>
                <input type="email" name="email" class="form-control" placeholder="Correo Electronico" required>
            </div>

            <div class="col1">
                <label for="subject">ᴀꜱᴜɴᴛᴏ:</label>
                <input type="text" name="asunto" class="form-control" required>
            </div>
            <br>
            <div class="form-group">
                <label for="comments">ᴄᴏᴍᴇɴᴛᴀʀɪᴏ:</label>
                <textarea name="comments" cols="15" rows="5" placeholder="Ingrese su comentario aqui..."></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-lg btn-dark btn-block">Enviar Correo</button>
        </form>

