
<h2>ᴀɴᴛᴇ ᴀʟɢᴜɴᴀ ᴅᴜᴅᴀ ᴇɴᴠɪᴀɴᴏꜱ ᴜɴ ᴍᴀɪʟ: </h2>
<body>
    <div class="container">
        <form>
              <div class="col">
                <label for="Nombre">ɴᴏᴍʙʀᴇ ᴅᴇ ᴜꜱᴜᴀʀɪᴏ:</label>
                <input type="text" name="name" class="form-control" placeholder="Nombre de usuario" required>
              </div>

              <div class="col">
                <label for="email">ᴄᴏʀʀᴇᴏ ᴇʟᴇᴄᴛʀᴏɴɪᴄᴏ:</label>
                <input type="email" name="email" class="form-control" placeholder="Correo Electronico" required>
              </div>

              <div class="col">
                <label for="subject">ᴀꜱᴜɴᴛᴏ:</label> <br>
                <textarea name="text" cols="15" row="5" required></textarea>
              </div>

          <div class="form-group">
            <label for="comments">ᴄᴏᴍᴇɴᴛᴀʀɪᴏ:</label> <br>
            <textarea name="comments" cols="15" row="5" required></textarea>
          </div>

          <button type="submit" class="btn btn-lg btn-dark btn-block">Enviar Correo</button>
        </form>
      </div>
</body>