<!-- BOTÓN DE AGREGAR NUEVOS PRODUCTOS -->

<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#agregarProducto">
    Agregar un nuevo producto
</button>

<!-- BOTÓN PARA ORDENAR LOS PRODUCTOS ALFABÉTICAMENTE -->
<button type="button1" class="btn btn-outline-secondary" (click)="ordenarProductos()">
    Ordenar Productos Alfabéticamente
</button>

<!-- TABLA DE PRODUCTOS -->
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imagen</th> 
            <th scope="col">Nombre</th> 
            <th scope="col">Precio</th> 
            <th scope="col">Descripción</th> 
            <th scope="col">Desarrollador</th>
            <th scope="col">Editor</th>
            <th scope="col">Lanzamiento</th>
            <th scope="col">Categoría</th> 
            <th scope="col">Acciones</th>   
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let producto of coleccionProductos; let i = index">
            <th scope="row">{{ i + 1 }}</th>

            <td>
                <img src="{{producto.imagen}}" alt="{{producto.alt}}">
            </td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.desarrollador}}</td>
            <td>{{producto.editor}}</td>
            <td>{{producto.lanzamiento}}</td>
            <td>{{producto.categoria}}</td>

            <!-- ACCIONES -->
            <td>
                <button id="btn-edit" title="Editar" type="button" class="btn btn-outline-primary"
                    data-bs-target="#editarProducto" data-bs-toggle="modal" (click)="mostrarEditar(producto)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button id="btn-delete" title="Eliminar" type="button" class="btn btn-outline-danger"
                    data-bs-toggle="modal" data-bs-target="#eliminarproducto" (click)="mostrarBorrar(producto)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- MODAL PARA AGREGAR NUEVO PRODUCTO -->
<div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese un nuevo producto:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div [formGroup]="producto" class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Ingrese el nombre del producto:</label>
                    <input class="form-control" type="text" formControlName="nombre" placeholder="Ej.: Gta V">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese una descripción:</label>
                    <input class="form-control" type="text" formControlName="descripcion"
                        placeholder="Ej.: Videojuego Gta V">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese el desarrollador:</label>
                    <input class="form-control" type="text" formControlName="desarrollador"
                        placeholder="Ej.: Rockstar Games">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese el editor:</label>
                    <input class="form-control" type="text" formControlName="editor" placeholder="Ej.: Rockstar Games">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese la fecha de lanzamiento:</label>
                    <input class="form-control" type="text" formControlName="lanzamiento"
                        placeholder="Ej.: 3 DE FEB 2019">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese el precio:</label>
                    <input class="form-control" type="number" formControlName="precio" placeholder="...">
                </div>
                <div class="mb-3">
                    <label class="form-label">Selecciona una categoría:</label>
                    <select class="form-control" formControlName="categoria" class="form-select">
                        <option value="" disabled>Elija una opción</option>
                        <option value="Juegos">Videojuego</option>
                        <option value="Ofertas">Ofertas</option>
                        <option value="Extras">Dlc</option>
                        <option value="Soundtracks">Soundtracks</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese una imagen:</label>
                    <input class="form-control" type="text" formControlName="imagen"
                        placeholder="Ingrese vínculo de una imagen">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese texto alternativo de la imagen:</label>
                    <input class="form-control" type="text" formControlName="alt" placeholder="Ej.: Portada de Gta V">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese los requisitos minimos:</label>
                    <input class="form-control" type="text" formControlName="alt" placeholder="Ej. Mínimo: Requiere un procesador y un sistema operativo de 64 bits
                    SO: Windows 10 de 64 bits
                    Procesador: Intel Core 2 Quad CPU Q6600 a 2,4 GHz (4 CPU)/AMD Phenom 9850 Quad-Core (4 CPU) a 2,5 GHz.
                    Memoria: 4 GB de RAM
                    Gráficos: NVIDIA 9800 GT 1 GB/AMD HD 4870 1 GB (DX 10, 10.1, 11).
                    Almacenamiento: 120 GB de espacio disponible
                    Tarjeta de sonido: compatible con DirectX 10.">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese los requisitos recomendados:</label>
                    <input class="form-control" type="text" formControlName="alt" placeholder="Ej. Recomendado: Requiere un procesador y un sistema operativo de 64 bits
                    SO: Windows 10 de 64 bits
                    Procesador: Intel Core i5 3470 a 3,2 GHz (4 CPU)/AMD X8 FX-8350 a 4 GHz (8 CPU).
                    Memoria: 8 GB de RAM
                    Gráficos: NVIDIA GTX 660 2 GB/AMD HD7870 2 GB.
                    Almacenamiento: 120 GB de espacio disponible
                    Tarjeta de sonido: compatible con DirectX 10.">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" (click)="agregarProducto()"
                    data-bs-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL PARA EDITAR UN PRODUCTO-->
<div class="modal fade" *ngFor="let productoedit of coleccionProductos" id="editarProducto" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editen el siguiente producto:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div [formGroup]="producto" class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Ingrese el nombre del producto:</label>
                    <input class="form-control" type="text" formControlName="nombre"
                        placeholder="{{productoedit.nombre}}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese una descripción:</label>
                    <input class="form-control" type="text" formControlName="descripcion"
                        placeholder="{{productoedit.descripcion}}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese el precio:</label>
                    <input class="form-control" type="number" formControlName="precio"
                        placeholder="{{productoedit.precio}}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Selecciona una categoría:</label>
                    <select class="form-control" formControlName="categoria" class="form-select">
                        <option value="" disabled>Elija una opción</option>
                        <option value="Videojuego">Videojuego</option>
                        <option value="Ofertas">Ofertas</option>
                        <option value="Dlc">Dlc</option>
                        <option value="Soundtracks">Soundtracks</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese una imagen:</label>
                    <input class="form-control" type="text" formControlName="imagen"
                        placeholder="{{productoedit.imagen}}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese texto alternativo de la imagen:</label>
                    <input class="form-control" type="text" formControlName="alt" placeholder="{{productoedit.alt}}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese los requisitos minimos:</label>
                    <input class="form-control" type="text" formControlName="alt" placeholder="Ej. Mínimo: Requiere un procesador y un sistema operativo de 64 bits
                    SO: Windows 10 de 64 bits
                    Procesador: Intel Core 2 Quad CPU Q6600 a 2,4 GHz (4 CPU)/AMD Phenom 9850 Quad-Core (4 CPU) a 2,5 GHz.
                    Memoria: 4 GB de RAM
                    Gráficos: NVIDIA 9800 GT 1 GB/AMD HD 4870 1 GB (DX 10, 10.1, 11).
                    Almacenamiento: 120 GB de espacio disponible
                    Tarjeta de sonido: compatible con DirectX 10.">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese los requisitos recomendados:</label>
                    <input class="form-control" type="text" formControlName="alt" placeholder="Ej. Recomendado: Requiere un procesador y un sistema operativo de 64 bits
                    SO: Windows 10 de 64 bits
                    Procesador: Intel Core i5 3470 a 3,2 GHz (4 CPU)/AMD X8 FX-8350 a 4 GHz (8 CPU).
                    Memoria: 8 GB de RAM
                    Gráficos: NVIDIA GTX 660 2 GB/AMD HD7870 2 GB.
                    Almacenamiento: 120 GB de espacio disponible
                    Tarjeta de sonido: compatible con DirectX 10.">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" (click)="editarProducto()"
                    data-bs-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL PARA ELIMINAR UN PRODUCTO -->
<div class="modal fade" *ngIf="modalVisibleproducto" id="eliminarproducto" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{productoSeleccionado.nombre}}
                <img src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                    (click)="borrarProducto()">Eliminar</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>