.container{
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.boton{
    width: 120px;
    margin: auto;
}
h1{
    color: white;
}
#person{
    color: white;
}