<h2>ᴍᴀꜱ ᴠᴇɴᴅɪᴅᴏꜱ ʏ ᴛᴇɴᴅᴇɴᴄɪᴀꜱ</h2>
<div class="col-12">
  <div class="container">
   <div *ngFor="let i of info" class="contenido">
    <div class="card">
      <img src="{{i.imagen}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h4 class="card-title"><b>{{i.nombre}}</b>
        <p class="card-text"><small class="text-body-secondary">{{i.lanzamiento}}</small></p></h4>
        <p class="card-text"><small class="text-body-secondary">ɢᴇɴᴇʀᴏ: {{i.genero}}</small></p>
        <p class="card-text">{{i.descripcion}}</p>
        <p class="card-text"><small class="text-body-secondary">ᴅᴇꜱᴀʀʀᴏʟʟᴀᴅᴏʀ: {{i.desarrollador}}</small></p>
        <p class="card-text"><small class="text-body-secondary">ᴇᴅɪᴛᴏʀ: {{i.editor}}</small></p>
        <p class="card-text">${{i.precio}} USD <a href="#" class="btn btn-primary">Añadir al carrito</a></p>
     </div>
    </div>
  </div>
</div>
