<div class="container">
    <div class="row">
        <h1>ʀᴇɢɪꜱᴛʀᴀᴛᴇ</h1>

        <i class="material-icons" style="font-size: 200px;">person</i>
        
        <mat-form-field appearance="fill">
            <mat-label>ɪɴɢʀᴇꜱᴇ ꜱᴜ ɴᴏᴍʙʀᴇ ᴅᴇ ᴜꜱᴜᴀʀɪᴏ:</mat-label>
            <!-- ngModel = directiva BIDIRECCIONAL utilizada para formularios -->
            <input [(ngModel)]="usuarios.nombreusuario" matInput placeholder="Ej: AlejoXDeath" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>ɪɴɢʀᴇꜱᴇ ꜱᴜ ɴᴏᴍʙʀᴇ:</mat-label>
            <!-- ngModel = directiva BIDIRECCIONAL utilizada para formularios -->
            <input [(ngModel)]="usuarios.nombre" matInput placeholder="Ej: Alejo" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>ɪɴɢʀᴇꜱᴇ ꜱᴜ ᴀᴘᴇʟʟɪᴅᴏ:</mat-label>
            <input [(ngModel)]="usuarios.apellido" matInput placeholder="Ej: Ferrada" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>ɪɴɢʀᴇꜱᴇ ꜱᴜ ᴇᴍᴀɪʟ:</mat-label>
            <input [(ngModel)]="usuarios.email" matInput placeholder="Ej: alejoferrada2022@gmail.com" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>ɪɴɢʀᴇꜱᴇ ꜱᴜ ᴄᴏɴᴛʀᴇñᴀ:</mat-label>
            <input [(ngModel)]="usuarios.password" matInput [type]="hide ? 'password' : 'text'" #input minlength="6" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="start">Mínimo:6/{{input.value.length}}</mat-hint>
        </mat-form-field>

        <!-- Botón para ENVIAR la información a la Base de Datos-->
        <button class="boton" mat-raised-button color="primary" (click)="registrar()">Registrar</button>
    </div>
</div>