h1{
    color: white;
    text-align: center;
}
.carrusel{
    margin: 20px;
    justify-content: center;    
    display: block;
}
.parrafo{
    max-height: 100px; /*altura maxima del parrafo*/
    overflow: hidden; /*oculta el contenido que excede la altura*/
    transition:max-height 0.5s ease;
}
img{
    border-radius: 10px;
}
.parrafo.expanded{
    max-height: 200rem; /*altura maxima cuando se expande*/
}