<!-- Card para mostrar TODOS los productos que el admin ingrese a la base de datos -->
<div class="row">
  <div class="col-lg-3" *ngFor="let productos of coleccionJuegos">
    <div class="contenido">
      <div class="card">
        <img src="{{productos.imagen}}" class="imagencard" alt="{{productos.alt}}">
        <div class="card-body">
          <h5 class="card-title"><b>{{productos.nombre}}</b></h5>
          <p class="card-text"><small class="text-body-secondary">{{productos.lanzamiento}}</small></p>
          <p class="parrafo" id="text">{{productos.descripcion}}</p>
          <p class="card-text"><small class="text-body-secondary">ᴅᴇꜱᴀʀʀᴏʟʟᴀᴅᴏʀ: {{productos.desarrollador}}</small></p>
          <p class="card-text"><small class="text-body-secondary">ᴇᴅɪᴛᴏʀ: {{productos.editor}}</small></p>
          <div class="piecard">
            <p><b>${{productos.precio}} USD </b></p>
              <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"
              (click)="productoAnadido(productoSeleccionado)">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>