<!-- Card para mostrar TODOS los productos que el admin ingrese a la base de datos -->
<div class="row">
  <div class="col-lg-3" *ngFor="let productos of coleccionJuegos">
    <div class="contenido">
      <div class="card">
        <img src="{{productos.imagen}}" class="imagencard" alt="{{productos.alt}}">
        <div class="card-body">
          <div class="card-body">
            <h5 class="card-title"><b>{{productos.nombre}}</b></h5>
            <p class="card-text"><small class="text-body-secondary">{{productos.lanzamiento}}</small></p>
            <p class="parrafo" id="text">{{productos.descripcion}}</p>
            <p class="card-text"><small class="text-body-secondary">ᴅᴇꜱᴀʀʀᴏʟʟᴀᴅᴏʀ: {{productos.desarrollador}}</small>
            </p>
            <p class="card-text"><small class="text-body-secondary">ᴇᴅɪᴛᴏʀ: {{productos.editor}}</small></p>
            <p><b>${{productos.precio}} USD </b>
              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#verMas"
                (click)="mostrarVer(productos)">Ver más</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal para ver más info -->
  <div class="modal fade" *ngIf="modalVisible" id="verMas" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{productoSeleccionado.nombre}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <img src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}">
        </div>

        <div class="mg-3">
          <h3> Ya disponible </h3>
          <h4> Lo más vendido </h4>
        </div>

        <div class="mg-3">
          ${{productoSeleccionado.precio}} USD
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" (click)="productoAnadido(productoSeleccionado)" >Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>