<mat-toolbar>
    <!-- Menú desplegable para cuando la pantalla sea menor a 700px -->
     
<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon><img src="https://www.citypng.com/public/uploads/small/11661571623cpoumitwf5xyv9aoxtfxbwygzv8bzzh7mpuzs5dpy9ukpm70rzdbpp59eiqdllkumcqpkr8v4pbrfqlgo1lmob7poe2rov5p7zkp.png"></mat-icon>
</button>
<div class="contenido">
    <span><button mat-button routerLink="/inicio"><b>Ƨᴛᴏᴍ</b></button></span>
  
    <span><button mat-button routerLink="/producto">ᴘʀᴏᴅᴜᴄᴛᴏꜱ</button></span>
    <span><button mat-button routerLink="/dlc">ᴅʟᴄ</button></span>
    <span><button mat-button routerLink="/soporte">ꜱᴏᴘᴏʀᴛᴇ</button></span>
  </div>
  
    <span class="example-spacer"></span>
    <!-- Menú desplegable para manejar todo el acceso de los usuarios en la página -->
    <button mat-icon-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
    <mat-menu #usuario="matMenu">
      <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/registro">ʀᴇɢɪꜱᴛʀᴀʀꜱᴇ</button>
      <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/iniciosesion">ɪɴɪᴄɪᴀʀ ꜱᴇꜱɪᴏɴ</button>
      <button mat-menu-item (click)="cerrarSesion()" *ngIf="deslogueado">ᴄᴇʀʀᴀʀ ꜱᴇꜱɪᴏɴ</button>
    </mat-menu>
  
    <!-- Carrito -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>

  </mat-toolbar>
