<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon><img src="https://www.citypng.com/public/uploads/small/11661571623cpoumitwf5xyv9aoxtfxbwygzv8bzzh7mpuzs5dpy9ukpm70rzdbpp59eiqdllkumcqpkr8v4pbrfqlgo1lmob7poe2rov5p7zkp.png"></mat-icon>
    </button>
    <nav class="contenido">
    <span><button mat-button routerLink="/inicio"><b>Ƨᴛᴏᴍ</b></button></span>
 
    <button mat-button routerLink="/inicio">ɪɴɪᴄɪᴏ</button>
    <span class="example-spacer"></span>   
    <button mat-button routerLink="/inicio"></button>
    <button mat-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
    <mat-menu #usuario="matMenu">
        <button mat-menu-item routerLink="/iniciosesion">ɪɴɪᴄɪᴀʀ ꜱᴇꜱɪᴏɴ</button>
        <button mat-menu-item routerLink="/registro">ʀᴇɢɪꜱᴛʀᴀʀꜱᴇ</button>
    </mat-menu>
</nav> 
</mat-toolbar>

